
	<div class="login-box">
		<div class="login-logo">
			<a href="http://v4.admpiaui.org/app/login">ADM<b>Piauí</b></a>
		</div>
		<div class="login-box-body">
			<p class="login-box-msg">Preencha as informações abaixo para entrar</p>
			<form action="http://v4.admpiaui.org/app/auth" method="post" accept-charset="utf-8">
				<div class="form-group has-feedback">
					<input type="text" name="login" class="form-control" placeholder="Informe o Usuário">
					<span class="glyphicon glyphicon-user form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" name="password" class="form-control" placeholder="Digite sua senha">
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary btn-block btn-flat">
							Fazer Login
						</button>
					</div>
				</div>
							</form>
			<a href="javascript:;">Esqueceu sua senha?</a><br>
		</div>
	</div>
